$gray: gray;
$white: white;

#show-info {
    margin: auto;
    width: 400px;
    background-color: gray;
    padding: 1rem;
    color: $white;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0 1rem $white;
}