$white: white;
$black: black;
$orange: orange;

.link {
    color: $white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: $white;
    color: $black;
}

.link:active {
    color: $orange;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}