.product {
    width: 200px;
    height: 200px;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 1rem;
    background-color: #e0e0e0;
    color: #212121;
    flex-direction: column;
}

button {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}