body {
    font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
}

.container {
    width: min(90%, 1000px);
    margin-inline: auto;
}

.titles {
    columns: 15em;
}

.titles h2 {
    column-span: all;
    margin-inline: auto;
    width: fit-content;
    font-size: clamp(3rem, 10vw + 1rem, 5rem);
}